.cartas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
}

body {
    background-image: url("/FrontEnd/Imgs/66e102ad279ee69ca7f5a110855cc34e.jpg");
    background-size: cover;
}